{% extends 'base.html' %}

{% block mainTitleSpan %}
<div class="row">
        <div class="col-md-auto">
        <img src="{{ stonk_obj.logo['logo_url'] }}" style="width:5em; height:5em;" class="card-img"
             alt="...">
    </div>
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between"><i class="bi bi-info-circle me-1 text-success"></i>
                <a href="{{ url_for('stonk_info', stonk_name=stonk) }}" role="button">{{ stonk|capitalize }} Information</a>
                <i class="bi bi-dash-square-dotted me-1 text-success"></i>
            </li>
            <li class="list-group-item  d-flex justify-content-between "><i class="bi bi-bar-chart me-1 text-success"></i>
                <a href="{{ url_for('stonk_charts', stonk_name=stonk) }}" role="button">{{ stonk|capitalize }} Charts</a>
                <i class="bi bi-check-square-fill me-1 text-success"></i>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="priceGauge"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="dayhighLowChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="priceChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <div id="volumeChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="diffChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="fiftyTwoWeekHighLowChart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsGrowthChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="yearlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <h5 class="card-title">Recommendation Info</h5>

            <div class="card-body">
                <div id="recommendationChart"></div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
<script type="text/javascript">
    const chart_data = {
        "name": "{{ stonk_obj.name|string }}",
        "dates": {
            "range": {{ stonk_obj.price_history['date_range']|safe }},
            "q_dates": {{ stonk_obj.financial_data['q_dates']|safe }},
            "y_dates": {{ stonk_obj.financial_data['y_dates']|safe }},
        },
        "price_vol_diff": {
            "prices": {{ stonk_obj.price_history['close'] }},
            "volume": {{ stonk_obj.price_history['volume'] }},
            "open_close_diff": {{ stonk_obj.price_history['diff']|safe }},
            "dayLow": {{ stonk_obj.yf_stonk.info.dayLow }},
            "dayHigh": {{ stonk_obj.yf_stonk.info.dayHigh }},
            "dayCurrent": {{ stonk_obj.yf_stonk.info.currentPrice }},
            "fiftyTwoHigh": {{ stonk_obj.yf_stonk.info.fiftyTwoWeekHigh }},
            "fiftyTwoLow": {{ stonk_obj.yf_stonk.info.fiftyTwoWeekLow }},
        },
        "earnings": {
            "est_earnings": {{ stonk_obj.financial_data['q_est_earn'] }},
            "earnings": {{ stonk_obj.financial_data['q_earn'] }},
            "actual_earnings": {{ stonk_obj.financial_data['q_actual_earn'] }},
            "q_earn" : {{ stonk_obj.financial_data['q_date_earn']|safe }},
            "y_earn" : {{ stonk_obj.financial_data['y_earn'] }},
        },
        "revenue": {
            "revenue": {{ stonk_obj.financial_data['q_rev'] }},
            "y_revenue": {{ stonk_obj.financial_data['y_rev'] }},
        },
        "latest_rec": {
            "rec": {{ stonk_obj.parse_latest_recs().keys()|list|safe }},
            "count": {{ stonk_obj.parse_latest_recs().values()|list }},
        }
    };


</script>
<script type="text/javascript" src="{{ url_for('static', filename='/assets/js/stonk_charts.js') }}"></script>

{% endblock %}
