h1 {
  color: red;
}


table {
  width: 80%;
  font-size: 0.8em;
}

th {
  height: 12px;
}

tr {
  height: 12px;
}


div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
    }