{% extends 'base.html' %}

{% set crypto_long_name = crypto_obj.fundamentals_data['summaryProfile']['name'] %}
{% block mainTitleSpan %}
<div>
    <div class="row flex-row justify-content-start">

        <div class="col-md-auto">
            <img src="{{ crypto_obj.logo }}" style="width:5em; height:5em;" class="card-img" alt="...">
        </div>
        <div class="col-lg-4">

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"><i
                        class="bi bi-info-circle me-1 text-success"></i>
                    <a href="{{ url_for('crypto_info', crypto_name=crypto_name) }}" role="button">{{
                        crypto_long_name|capitalize
                        }}
                        Information</a>
                    <i class="bi bi-check-square-fill me-1 text-success"></i>
                </li>
                <li class="list-group-item  d-flex justify-content-between "><i
                        class="bi bi-bar-chart me-1 text-success"></i>
                    <a href="{{ url_for('crypto_charts', crypto_name=crypto_name) }}" role="button">{{
                        crypto_long_name|capitalize }}
                        Charts</a>
                    <i class="bi bi-dash-square-dotted me-1 text-success"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                </div>
                <!-- SIDE PILLS -->
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">

                        <button class="nav-link active" id="v-pills-Info-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-Info" type="button" role="tab" aria-controls="v-pills-Info"
                                aria-selected="true">Info
                        </button>


                    </div>
                    <!-- END OF SIDE PILLS -->
                    <!-- START OF CONTENTS -->
                    <!-- COMPANY INFO -->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="col-md-12 tab-pane fade show active" id="v-pills-Info" role="tabpanel"
                             aria-labelledby="v-pills-Info-tab">
                            <div class="col-md-11">
                                <div class="row">
                                    <h5 class="card-title">{{ crypto_long_name }} /({{ crypto_name }}) Info</h5>
                                    {% for key, value in crypto_obj.fundamentals_data.items() %}
                                    {% if value is mapping %}
                                    <div class="card col-md-4">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ key }}</h5>
                                            <table class="table datatable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for in_key, in_value in value.items() %}
                                                <tr>
                                                    <td>{{ in_key }}</td>
                                                    <td>{{ in_value }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- /COMPANY INFO -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
