{% extends 'base.html' %}

{% block mainTitleSpan %}
  <h1>Block Explorer</h1>
{% endblock %}


{% block crumbs %}
  <li class="breadcrumb-item active">Block[{{ block_obj.number }}]</li>
{% endblock %}

{% block body %}
    <section class="section">
    <h5 class="card-title">Block Number: {{ block_obj.number }} ({{ block_obj.hash }}) </h5>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item ">
          <a class="page-link" href="{{ url_for('block_page', page=block_obj.number - 1) }}">Previous</a>
        </li>
        {% if next_disabled[0] == "disabled" %}
        <li class="page-item disabled }}">
          <a class="page-link" tabindex="-1" href="#">Next</a>
        {% else %}
        <li class="page-item }}">
          <a class="page-link" href="{{ url_for('block_page', page=block_obj.number + 1) }}">Next</a>
        {% endif %}
        </li>
      </ul>
    </nav>
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Gas Limit</th>
                    <th scope="col">Gas Used</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ block_obj.gasLimit }}</td>
                    <td>{{ block_obj.gasUsed }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Miner</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Total Difficulty</th>
                    <th scope="col">Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="{{ url_for('account', account=block_obj.miner) }}">{{ block_obj.miner|truncate(20) }}</a></td>
                    <td>{{ block_obj.difficulty }}</td>
                    <td>{{ block_obj.totalDifficulty }}</td>
                    <td>{{ fromtimestamp(block_obj.timestamp).strftime("%d/%m/%Y:%H:%M:%S") }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">mixHash</th>
                    <th scope="col">parentHash</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ block_obj.mixHash[:30] }}</td>
                    <td>{{ block_obj.parentHash[:30] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">sha3Uncles</th>
                    <th scope="col">stateRoot</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ block_obj.sha3Uncles[:30] }}</td>
                    <td>{{ block_obj.stateRoot[:30] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Link</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Gas</th>
                    <th scope="col">Gas Price</th>
                    <th scope="col">Value (Eth)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in block_obj.transactions %}
                  <tr>
                    <td><a href="/block/{{ block_obj.number }}/transactions/{{ item.transactionIndex }}" class="btn btn-info">Details</a></td>
                    <td><a href="{{ url_for('account', account=item.from) }}">{{ item.from|truncate(20) }}</a></td>
                    <td><a href="{{ url_for('account', account=item.to) }}">{{ item.to|truncate(20) }}</a></td>
                    <td>{{ item.gas }}</td>
                    <td>{{ item.gasPrice }}</td>
                    <td>{{ normalize_balance(item.value) }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </section>
{% endblock %}