{% extends 'base.html' %}

{% block mainTitleSpan %}
  <h1>Block Explorer</h1>
{% endblock %}

{% block crumbs %}
  <li class="breadcrumb-item active">Latest</li>
{% endblock %}


{% block body %}
    <script>
      chart_common_config = {
        chart: {
          type: 'bar',
          height: 100,
          width: '100%',
              toolbar: {
                show: false
              }
        },
        plotOptions: {
          bar: {
            horizontal: true,
            barWidth: '100%'
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: [''],
        },
        yaxis: {
          max: 100
        }
      }
    </script>
    <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  # of blocks
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="{{ url_for('index', num_blocks=5) }}">5</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('index', num_blocks=10) }}">10</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{{ url_for('index', num_blocks=20) }}">20</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{{ url_for('index', num_blocks=50) }}">50</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('index', num_blocks=100) }}">100 ( v.slow)</a></li>
                </ul>
              </div>
            </div>
              <h5 class="card-title">Total value of all ETH traded in last {{ data|length }} blocks: {{ total_val[0] }}</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Hash</th>
                    <th scope="col">Miner</th>
                    <th scope="col">TimeStamp</th>
                    <th scope="col"># Transactions</th>
                    <th scope="col">% Transactions</th>
                    <th scope="col">Val. Eth.</th>
                  </tr>
                </thead>
                <tbody>
                {% for index, item in enumerate(data) %}
                  <tr>
                    <td><a href="/block/{{ item.number }}" class="btn btn-info">{{ item.number }}</a></td>
                    <td>{{ item.hash|truncate(20) }}</td>
                    <td><a href="{{ url_for('account', account=item.miner) }}">{{ item.miner|truncate(20) }}</a></td>
                    <td>{{ fromtimestamp(item.timestamp).strftime("%d/%m/%Y:%H:%M:%S") }}</td>
                    <td>{{ item.transactions|length }}</td>
                    <td><div id="barchart_{{ item.number }}"></div></td>
                    <td>{{ total_val[1][index] }}</td>
                  </tr>
                <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#barchart_{{ item.number }}"), {
                    series: [{
                      data: [{{ item.perc_of_total_trans }}]
                    }],
                    ...chart_common_config
                  }).render();
                });
              </script>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
