<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SeanCoin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn" style="margin-right:8em"></i>
        <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
            <span class="d-none d-lg-block">SeanThereum</span>
        </a>
    </div>
</header>
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <!-- BLOCK EXPLORER -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#explorer-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-grid"></i>
                <span>Block Explorer</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="explorer-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ url_for('index') }}">
                        <i class="bi bi-circle"></i><span>ETH Block</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Other Blocks?</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /BLOCK EXPLORER -->

        <!-- CRYPTO CHARTS -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#crypto-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-grid"></i>
                <span>Crypto Charts</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="crypto-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% for k, v in all_crypto.items() %}
                <li>
                    <a href="{{ url_for('coin_charts', coin=v|string) }}">
                        <i class="bi bi-circle"></i><span>{{ k|safe }}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </li>
        <!-- /CRYPTO CHARTS -->

        <!-- STONK CHARTS -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#stonk-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-grid"></i>
                <span>Stonk Charts</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="stonk-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='GME') }}">
                        <i class="bi bi-circle"></i><span>GameStop</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='AMC') }}">
                        <i class="bi bi-circle"></i><span>AMC</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='BB') }}">
                        <i class="bi bi-circle"></i><span>BlackBerry</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='KOSS') }}">
                        <i class="bi bi-circle"></i><span>KOSS</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='BBBY') }}">
                        <i class="bi bi-circle"></i><span>BBBY</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stonk_charts', stonk='HOOD') }}">
                        <i class="bi bi-circle"></i><span>RobinHood (BOO!)</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /STONK CHARTS -->
    </ul>
</aside>
<main id="main" class="main">
    <div class="pagetitle">
        {% block mainTitleSpan %}
        {% endblock %}
        <nav>
            <ol class="breadcrumb">
                {% block crumbs %}
                {% endblock %}
            </ol>
        </nav>
    </div>

    {% block body %}
    {% endblock %}

</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>