{% extends 'base.html' %}

{% set crypto_long_name = crypto_obj.fundamentals_data['summaryProfile']['name'] %}
{% block mainTitleSpan %}


<div>
    <div class="row flex-row justify-content-start">
        <div class="col-md-auto">
            <img alt="..." class="card-img"
                 src="/static/assets/img/crypto_logos/{{ crypto_obj.name }}.png" style="width:5em; height:5em;">
        </div>
    </div>
</div>
{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button aria-controls="pills-home" aria-selected="true" class="nav-link active" data-bs-target="#pills-home"
                data-bs-toggle="pill" id="pills-home-tab" role="tab" type="button">
            {{ crypto_obj.name }} Info
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button aria-controls="pills-profile" aria-selected="false" class="nav-link" data-bs-target="#pills-profile"
                data-bs-toggle="pill" id="pills-profile-tab" role="tab" type="button">
            {{ crypto_obj.name }} Charts
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-home" role="tabpanel">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                        </div>
                        <div class="d-flex align-items-start">

                            <div class="tab-content" id="v-pills-tabContent">
                                <div aria-labelledby="v-pills-Info-tab" class="col-md-12 tab-pane fade show active" id="v-pills-Info"
                                     role="tabpanel">
                                    <div class="col-md-11">
                                        <div class="row">
                                            <h5 class="card-title">{{ crypto_long_name }} /({{ crypto_name }}) Info</h5>
                                            {% for key, value in crypto_obj.fundamentals_data.items() %}
                                            {% if value is mapping %}
                                            <div class="card col-md-4">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ key }}</h5>
                                                    <table class="table datatable">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Key</th>
                                                            <th scope="col">Value</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for in_key, in_value in value.items() %}
                                                        <tr>
                                                            <td>{{ in_key }}</td>
                                                            <td>{{ in_value }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- /COMPANY INFO -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile" role="tabpanel">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ crypto_obj.name }} Charts</h5>
                        <div id="priceChart"></div>
                        <div id="volumeChart"></div>
                        <div id="diffChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>

        <script>
    document.addEventListener("DOMContentLoaded", () => {
        const series = {
            "coin": {
              "dates": {{ crypto_obj.price_history['date_range']|safe }},
              "name": "{{ crypto_obj.name }}",
              "prices": {{ crypto_obj.price_history['close'] }},
              "volume": {{ crypto_obj.price_history['volume'] }},
              "open_close_diff": {{ crypto_obj.price_history['diff']|safe }}
            }
        }
        <!-- PRICE CHART -->
        new ApexCharts(document.querySelector("#priceChart"), {
        series: [
            {
              name: series.coin.name,
              data: series.coin.prices
            },
        ],
        chart: {
          type: 'area',
          height: 350,
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        subtitle: {
          text: 'Price',
          align: 'left'
        },
        xaxis: {
          type: 'datetime',
          categories: series.coin.dates
        },
        yaxis: {
          opposite: true
        },
        legend: {
          horizontalAlign: 'left'
        }
        }).render();
        <!-- /PRICE CHART -->
        <!-- VOLUME CHART -->
        new ApexCharts(document.querySelector("#volumeChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.volume
              },
          ],
          chart: {
            type: 'area',
            height: 350,
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          subtitle: {
            text: 'Volume',
            align: 'left'
          },
          xaxis: {
            type: 'datetime',
            categories: series.coin.dates
          },
          yaxis: {
            opposite: true
          },
          legend: {
            horizontalAlign: 'left'
          }
        }).render();
        <!-- /VOLUME CHART -->
        <!-- DIFF CHART -->
        new ApexCharts(document.querySelector("#diffChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.open_close_diff
              },
          ],
          chart: {
            type: 'area',
            height: 350,
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          subtitle: {
            text: 'Price Diff',
            align: 'left'
          },
          xaxis: {
            type: 'datetime',
            categories: series.coin.dates
          },
          yaxis: {
            opposite: true
          },
          legend: {
            horizontalAlign: 'left'
          }
        }).render();
    <!-- /DIFF CHART -->
    });

        </script>
    </div>
</div>
{% endblock %}
