{% extends 'base.html' %}

{% block mainTitleSpan %}
<h1>Stonk Charts</h1>
{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}
<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="{{ tab_data['logo']['logo_url'] }}" style="width:16em; height:16em;" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                    {% for k, v in tab_data.items() %}
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="{{ k }}-tab" data-bs-toggle="tab"
                                data-bs-target="#{{ k }}-justified" type="button" role="tab" aria-controls="{{ k }}"
                                aria-selected="false">{{ k|replace('_columns','') }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content pt-2" id="myTabjustifiedContent">
                    {% for k, v in tab_data.items() %}
                    <div class="tab-pane fade" id="{{ k }}-justified" role="tabpanel"
                         aria-labelledby="{{ k }}-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for in_k, in_v in v.items() %}
                            <tr>
                                <td>{{ in_k|safe }}</td>
                                <td>{{ in_v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="priceGauge"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="dayhighLowChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="priceChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="diffChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <div id="volumeChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="fiftyTwoWeekHighLowChart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsGrowthChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="yearlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
<script type="text/javascript">
    const chart_data = {
        "dates": {{ data['date_range']|safe }},
        "name": "{{ data['name']|string }}",
        "prices": {{ data['close'] }},
        "volume": {{ data['volume'] }},
        "open_close_diff": {{ data['diff']|safe }},
        "est_earnings": {{ finance_data['q_est_earn'] }},
        "earnings": {{ finance_data['q_earn'] }},
        "actual_earnings": {{ finance_data['q_actual_earn'] }},
        "q_earn" : {{ finance_data['q_date_earn']|safe }},
        "y_earn" : {{ finance_data['y_earn'] }},
        "revenue": {{ finance_data['q_rev'] }},
        "y_revenue": {{ finance_data['y_rev'] }},
        "q_dates": {{ finance_data['q_dates']|safe }},
        "y_dates": {{ finance_data['y_dates']|safe }}
    };

    const radial_data = {
        "dayLow": {{ tab_data['current_stock_columns']['dayLow'] }},
        "dayHigh": {{ tab_data['current_stock_columns']['dayHigh'] }},
        "dayCurrent": {{ tab_data['current_stock_columns']['currentPrice'] }},
        "fiftyTwoHigh": {{ tab_data['historical_stock_columns']['fiftyTwoWeekHigh'] }},
        "fiftyTwoLow": {{ tab_data['historical_stock_columns']['fiftyTwoWeekLow'] }},
    };

</script>
<script type="text/javascript" src="{{ url_for('static', filename='/assets/js/seancoin_charts.js') }}"></script>
<script type="text/javascript">
    document.getElementById("company_columns-justified").classList.add('active');
    document.getElementById("company_columns-justified").classList.add('show');

</script>
{% endblock %}
