{% extends 'base.html' %}

{% block mainTitleSpan %}
<h1>Stonk Charts</h1>
{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{ tab_data['logo']['logo_url'] }}" style="width:16em; height:16em;" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
            <div class="card-body">
                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="company-tab" data-bs-toggle="tab"
                                data-bs-target="#company-justified" type="button" role="tab" aria-controls="company"
                                aria-selected="true">Company Info
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="currentStock-tab" data-bs-toggle="tab"
                                data-bs-target="#currentStock-justified" type="button" role="tab" aria-controls="currentStock"
                                aria-selected="false">Current Stock Data
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="historicalStock-tab" data-bs-toggle="tab"
                                data-bs-target="#historicalStock-justified" type="button" role="tab" aria-controls="historicalStock"
                                aria-selected="false">Historical Data
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="other1-tab" data-bs-toggle="tab"
                                data-bs-target="#financials-justified" type="button" role="tab" aria-controls="financials"
                                aria-selected="false">Financials
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="dividendSplit-tab" data-bs-toggle="tab"
                                data-bs-target="#dividendSplit-justified" type="button" role="tab" aria-controls="dividendSplit"
                                aria-selected="false">Dividends / Split
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="holders-tab" data-bs-toggle="tab"
                                data-bs-target="#holders-justified" type="button" role="tab" aria-controls="holders"
                                aria-selected="false">Holders
                        </button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="myTabjustifiedContent">
                    <div class="tab-pane fade show active" id="company-justified" role="tabpanel"
                         aria-labelledby="company-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['company_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="currentStock-justified" role="tabpanel" aria-labelledby="currentStock-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['current_stock_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="historicalStock-justified" role="tabpanel" aria-labelledby="historicalStock-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['historical_stock_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="financials-justified" role="tabpanel" aria-labelledby="financials-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['financials_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="dividendSplit-justified" role="tabpanel" aria-labelledby="dividendSplit-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['dividend_split_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="holders-justified" role="tabpanel" aria-labelledby="holders-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in tab_data['holders_columns'].items() %}
                            <tr>
                                <td>{{ k|safe }}</td>
                                <td>{{ v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- End Default Tabs -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="priceGauge"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="priceChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="diffChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="volumeChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const series = {
            "coin": {
              "dates": {{ data['date_range']|safe }},
              "name": "{{ data['name'] }}",
              "prices": {{ data['close'] }},
              "volume": {{ data['volume'] }},
              "open_close_diff": {{ data['diff']|safe }}
            }
        }
        <!-- PRICE CHART -->
        new ApexCharts(document.querySelector("#priceChart"), {
        series: [
            {
              name: series.coin.name,
              data: series.coin.prices
            },
        ],
        chart: {
          type: 'area',
          height: 250,
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        subtitle: {
          text: 'Price',
          align: 'left'
        },
        xaxis: {
          type: 'datetime',
          categories: series.coin.dates
        },
        yaxis: {
          opposite: true
        },
        legend: {
          horizontalAlign: 'left'
        }
        }).render();
        <!-- /PRICE CHART -->
        {% if not data['name'] == "^VIX" %}
        <!-- VOLUME CHART -->
        new ApexCharts(document.querySelector("#volumeChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.volume
              },
          ],
          chart: {
            type: 'area',
            height: 250,
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          subtitle: {
            text: 'Volume',
            align: 'left'
          },
          xaxis: {
            type: 'datetime',
            categories: series.coin.dates
          },
          yaxis: {
            opposite: true
          },
          legend: {
            horizontalAlign: 'left'
          }
        }).render();
        <!-- /VOLUME CHART -->
        {% endif %}
        <!-- DIFF CHART -->
        new ApexCharts(document.querySelector("#diffChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.open_close_diff
              },
          ],
          chart: {
            type: 'area',
            height: 250,
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          subtitle: {
            text: 'Price Diff',
            align: 'left'
          },
          xaxis: {
            type: 'datetime',
            categories: series.coin.dates
          },
          yaxis: {
            opposite: true
          },
          legend: {
            horizontalAlign: 'left'
          }
        }).render();
    <!-- /DIFF CHART -->


      var options = {
          series: [{{ tab_data['current_stock_columns']['currentPrice'] }}],
          chart: {
          height: 350,
          type: 'radialBar',
          toolbar: {
            show: true
          }
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 225,
             hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front',
              dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
              }
            },
            track: {
              background: '#fff',
              strokeWidth: '67%',
              margin: 0, // margin is in pixels
              dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
              }
            },

            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function(val) {
                  return parseInt(val);
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#ABE5A1'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['Current Price'],
        };

        var chart = new ApexCharts(document.querySelector("#priceGauge"), options);
        chart.render();






    });


</script>
{% endblock %}
