{% extends 'base.html' %}

{% block mainTitleSpan %}
<h1>Stonk Charts</h1>
{% endblock %}


{% block crumbs %}
{% endblock %}

{% block body %}
<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="{{ tab_data['logo']['logo_url'] }}" style="width:16em; height:16em;" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                    {% for k, v in tab_data.items() %}
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="{{ k }}-tab" data-bs-toggle="tab"
                                data-bs-target="#{{ k }}-justified" type="button" role="tab" aria-controls="{{ k }}"
                                aria-selected="false">{{ k|replace('_columns','') }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content pt-2" id="myTabjustifiedContent">
                    {% for k, v in tab_data.items() %}
                    <div class="tab-pane fade" id="{{ k }}-justified" role="tabpanel"
                         aria-labelledby="{{ k }}-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for in_k, in_v in v.items() %}
                            <tr>
                                <td>{{ in_k|safe }}</td>
                                <td>{{ in_v|safe }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="priceGauge"></div>
            </div>
        </div>
    </div>
        <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="dayhighLowChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="priceChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="diffChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <div id="volumeChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="fiftyTwoWeekHighLowChart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="quarterlyEarningsGrowthChart"></div>
            </div>
        </div>
    </div>
        <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="yearlyEarningsRevenueChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const series = {
            "coin": {
              "dates": {{ data['date_range']|safe }},
              "name": "{{ data['name'] }}",
              "prices": {{ data['close'] }},
              "volume": {{ data['volume'] }},
              "open_close_diff": {{ data['diff']|safe }}
            },
            "chart": {
                "chart": {
                    toolbar: {
                      show: false
                    },
                    type: 'area',
                    height: 250,
                    zoom: {
                      enabled: true
                    }
                },
                dataLabels: {enabled: false},
                stroke: {curve: "straight"},
                yaxis: {opposite: true},
                legend: {horizontalAlign: 'left'}
            },
        }
        <!-- PRICE CHART -->
        new ApexCharts(document.querySelector("#priceChart"), {
            series: [{
              name: series.coin.name,
              data: series.coin.prices
            }],
            subtitle: {text: 'Price', align: 'left'},
            chart: series.chart.chart,
            dataLabels: series.chart.dataLabels,
            stroke: series.chart.stroke,
            legend: series.chart.legend,
            yaxis: series.chart.yaxis,
            xaxis: {type: 'datetime', categories: series.coin.dates}
        }).render();
        <!-- /PRICE CHART -->
        {% if not data['name'] == "^VIX" %}
        <!-- VOLUME CHART -->
        new ApexCharts(document.querySelector("#volumeChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.volume
              },
          ],
          subtitle: {text: 'Volume', align: 'left'},
          chart: series.chart.chart,
          dataLabels: series.chart.dataLabels,
          stroke: series.chart.stroke,
          legend: series.chart.legend,
          yaxis: series.chart.yaxis,
          xaxis: {type: 'datetime', categories: series.coin.dates}
        }).render();
        <!-- /VOLUME CHART -->
        {% endif %}
        <!-- DIFF CHART -->
        new ApexCharts(document.querySelector("#diffChart"), {
          series: [
              {
                name: series.coin.name,
                data: series.coin.open_close_diff
              },
          ],
          subtitle: {text: 'Price Diff', align: 'left'},
          chart: series.chart.chart,
          dataLabels: series.chart.dataLabels,
          stroke: series.chart.stroke,
          legend: series.chart.legend,
          yaxis: series.chart.yaxis,
          xaxis: {type: 'datetime', categories: series.coin.dates}
        }).render();
    <!-- /DIFF CHART -->


      var options = {
          series: [100],
          chart: {
              height: 300,
              type: 'radialBar',
              toolbar: {
                show: false
              }
          },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 225,
             hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front',
              dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
              }
            },
            track: {
              background: '#fff',
              strokeWidth: '67%',
              margin: 0, // margin is in pixels
              dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
              }
            },

            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function(val) {
                  return parseInt({{ tab_data['current_stock_columns']['currentPrice'] }});
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#ABE5A1'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['Current Price'],
        };

        var chart = new ApexCharts(document.querySelector("#priceGauge"), options);
        chart.render();


        const maxValue = {{ tab_data['current_stock_columns']['dayHigh'] }};

        const valueToPercent = (val) => (val * 100) / maxValue;
        const percentToValue = (val) => (val * maxValue) / 100

        var options = {
          series: [valueToPercent({{ tab_data['current_stock_columns']['dayLow'] }}), valueToPercent({{ tab_data['current_stock_columns']['currentPrice'] }}), valueToPercent(maxValue)],
          chart: {
          height: 300,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined,
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                show: true,
                formatter: percentToValue,
              }
            }
          }
        },
        colors: ['#d9534f', '#0275d8', '#5cb85c'],
        labels: ['dayLow', 'currentPrice', 'dayHigh'],
        legend: {
          show: true,
          floating: true,
          fontSize: '8px',
          position: 'left',
          offsetX: 0,
          offsetY: 15,
          labels: {
            useSeriesColors: true,
          },
          markers: {
            size: 0
          },
          formatter: function(seriesName, opts) {
            return seriesName
          },
          itemMargin: {
            vertical: 3
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
                show: false
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#dayhighLowChart"), options);
        chart.render();




        const fiftyTwoWeekmaxValue = {{ tab_data['historical_stock_columns']['fiftyTwoWeekHigh'] }};
        var options = {
          series: [valueToPercent({{ tab_data['historical_stock_columns']['fiftyTwoWeekLow'] }}), valueToPercent({{ tab_data['current_stock_columns']['currentPrice'] }}), valueToPercent(fiftyTwoWeekmaxValue)],
          chart: {
          height: 300,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined,
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                show: false,
                formatter: percentToValue,
              }
            }
          }
        },
        colors: ['#d9534f', '#0275d8', '#5cb85c'],
        labels: ['fiftyTwoWeekLow', 'currentPrice', 'fiftyTwoWeekHigh'],
        legend: {
          show: true,
          floating: true,
          fontSize: '16px',
          position: 'left',
          offsetX: 0,
          offsetY: 10,
          labels: {
            useSeriesColors: true,
          },
          markers: {
            size: 0
          },
          formatter: function(seriesName, opts) {
            return seriesName + ":  " + percentToValue(opts.w.globals.series[opts.seriesIndex])
          },
          itemMargin: {
            vertical: 3
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
                show: false
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#fiftyTwoWeekHighLowChart"), options);
        chart.render();


        var options = {
          chart: {
            height: 300,
            type: "line",
            stacked: false
          },
          title: {
              text: 'Quarterly Earnings and Revenue',
              align: 'left'
          },
          dataLabels: {
            enabled: true
          },
          colors: ["#FF1654", "#247BA0"],
          series: [
            {
              name: "Earnings",
              data: {{ finance_data['q_earn'] }}
            },
            {
              name: "Revenue",
              data: {{ finance_data['q_rev'] }}
            }
          ],
          stroke: {
            width: [4, 4]
          },
          plotOptions: {
            bar: {
              columnWidth: "20%"
            }
          },
          xaxis: {
            categories: {{ finance_data['q_dates']|safe }}
          },
          yaxis: [
            {
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#FF1654"
              },
              labels: {
                style: {
                  colors: "#FF1654"
                }
              },
              title: {
                text: "Earnings",
                style: {
                  color: "#FF1654"
                }
              }
            },
            {
              opposite: true,
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#247BA0"
              },
              labels: {
                style: {
                  colors: "#247BA0"
                }
              },
              title: {
                text: "Revenue",
                style: {
                  color: "#247BA0"
                }
              }
            }
          ],
          tooltip: {
            shared: false,
            intersect: true,
            x: {
              show: false
            }
          },
          legend: {
            horizontalAlign: "left",
            offsetX: 40
          }
        };

        var chart = new ApexCharts(document.querySelector("#quarterlyEarningsRevenueChart"), options);
        chart.render();



        var options = {
          chart: {
            height: 300,
            type: "line",
            stacked: false
          },
          title: {
              text: 'Quarterly Earnings Growth',
              align: 'left'
          },
          dataLabels: {
            enabled: true
          },
          colors: ["#FF1654", "#247BA0"],
          series: [
            {
              name: "Estimated",
              data: {{ finance_data['q_est_earn'] }}
            },
            {
              name: "Actual",
              data: {{ finance_data['q_actual_earn'] }}
            }
          ],
          stroke: {
            width: [4, 4]
          },
          plotOptions: {
            bar: {
              columnWidth: "20%"
            }
          },
          xaxis: {
            categories: {{ finance_data['q_date_earn']|safe }}
          },
          yaxis: [
            {
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#FF1654"
              },
              labels: {
                style: {
                  colors: "#FF1654"
                }
              },
              title: {
                text: "Estimated",
                style: {
                  color: "#FF1654"
                }
              }
            },
            {
              opposite: true,
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#247BA0"
              },
              labels: {
                style: {
                  colors: "#247BA0"
                }
              },
              title: {
                text: "Actual",
                style: {
                  color: "#247BA0"
                }
              }
            }
          ],
          tooltip: {
            shared: false,
            intersect: true,
            x: {
              show: false
            }
          },
          legend: {
            horizontalAlign: "left",
            offsetX: 40
          }
        };

        var chart = new ApexCharts(document.querySelector("#quarterlyEarningsGrowthChart"), options);
        chart.render();



        var options = {
          chart: {
            height: 300,
            type: "line",
            stacked: false
          },
          title: {
              text: 'Yearly Earnings and Revenue',
              align: 'left'
          },
          dataLabels: {
            enabled: true
          },
          colors: ["#FF1654", "#247BA0"],
          series: [
            {
              name: "Earnings",
              data: {{ finance_data['y_earn'] }}
            },
            {
              name: "Revenue",
              data: {{ finance_data['y_rev'] }}
            }
          ],
          stroke: {
            width: [4, 4]
          },
          plotOptions: {
            bar: {
              columnWidth: "20%"
            }
          },
          xaxis: {
            categories: {{ finance_data['y_dates']|safe }}
          },
          yaxis: [
            {
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#FF1654"
              },
              labels: {
                style: {
                  colors: "#FF1654"
                }
              },
              title: {
                text: "Earnings",
                style: {
                  color: "#FF1654"
                }
              }
            },
            {
              opposite: true,
              axisTicks: {
                show: true
              },
              axisBorder: {
                show: true,
                color: "#247BA0"
              },
              labels: {
                style: {
                  colors: "#247BA0"
                }
              },
              title: {
                text: "Revenue",
                style: {
                  color: "#247BA0"
                }
              }
            }
          ],
          tooltip: {
            shared: false,
            intersect: true,
            x: {
              show: false
            }
          },
          legend: {
            horizontalAlign: "left",
            offsetX: 40
          }
        };

        var chart = new ApexCharts(document.querySelector("#yearlyEarningsRevenueChart"), options);
        chart.render();
});

</script>
<script>
    document.getElementById("company_columns-justified").classList.add('active');
    document.getElementById("company_columns-justified").classList.add('show');
</script>
{% endblock %}
