{% extends 'base.html' %}

{% block crumbs %}
  <li class="breadcrumb-item active">Block[{{ txs.blockNumber }}] / Transaction[{{ txs.transactionIndex }}({{ txs.hash }})]</li>
{% endblock %}

{% block body %}
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in txs.items() %}
                  <tr>
                    <td>{{ k }}</td>
                    {% if k in ["from", "to"] %}
                      <td><a href="{{ url_for('account', account=txs[k]) }}">{{ v }}</a></td>
                    {% elif k == "value" %}
                      <td>{{ value }}</td>
                    {% else %}
                      <td>{{ v }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}